CONTAINER_NAME="flarum"
PANEL_APP_PORT_HTTP="40020"
DATA_PATH="./data"
PANEL_DB_HOST="127.0.0.1"
FLARUM_DB_PORT="3306"
PANEL_DB_NAME="flarum"
PANEL_DB_USER="flarum"
PANEL_DB_USER_PASSWORD="MyDBPWD_brls9UwcRasl"
PANEL_DB_PREFIX="flarum_"
Dockerized_HOST="127.0.0.1"