services:
  moltbot:
    container_name: ${CONTAINER_NAME}
    image: 1panel/moltbot:2026.1.25
    restart: unless-stopped
    networks:
      - 1panel-network
    environment:
      HOME: /home/node
      TERM: xterm-256color
    volumes:
      - ./data/conf:/home/node/.clawdbot
      - ./data/workspace:/home/node/clawd
    ports:
      - ${PANEL_APP_PORT_HTTP}:18789
      - ${PANEL_APP_PORT_BRIDGE}:18790
    init: true
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
        "lan",
        "--port",
        "18789"
      ]
    labels:
      createdBy: "Apps"    
networks:
  1panel-network:
    external: true
