services:
  openclaw-cli:
    container_name: ${CONTAINER_NAME}
    image: ghcr.io/openclaw/openclaw:2026.1.29
    networks:
      - 1panel-network
    environment:
      HOME: /home/node
      TERM: xterm-256color
      BROWSER: echo
    volumes:
      - ./data/conf:/home/node/.openclaw
      - ./data/workspace:/home/node/.openclaw/workspace
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["node", "dist/index.js"]
networks:
  1panel-network:
    external: true
