version: "3"
services:
  frpc:
    container_name: ${CONTAINER_NAME}
    restart: always
    network_mode: host
    volumes:
        - ./data/frpc.toml:/etc/frp/frpc.toml
    image: snowdreamtech/frpc:0.56.0
    labels:  
      createdBy: "Apps"

