version: '3'
services:
    minio:
      image: minio/minio:RELEASE.2023-11-11T08-14-41Z
      container_name: ${CONTAINER_NAME}
      ports:
        - ${PANEL_APP_PORT_HTTP}:9000
        - ${PANEL_APP_PORT_API}:9001
      restart: always
      command: server /data --console-address :9000 --address :9001
      environment:
        MINIO_ROOT_USER: ${MINIO_ROOT_USER}
        MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      logging:
        options:
          max-size: "5M"
          max-file: "10"
        driver: json-file
      networks:
        - 1panel-network
      volumes:
        - ./data:/data
      labels:
        createdBy: "Apps"
networks:
  1panel-network:
    external: true