services:
  rustfs:
    image: rustfs/rustfs:latest
    container_name: ${CONTAINER_NAME}
    ports:
      - ${PANEL_API_PORT_HTTP}:9000
      - ${PANEL_WEB_PORT_HTTP}:9001
    restart: always
    environment:
      RUSTFS_ACCESS_KEY: ${RUSTFS_ACCESS_KEY}
      RUSTFS_SECRET_KEY: ${RUSTFS_SECRET_KEY}
      RUSTFS_CONSOLE_ENABLE: ${RUSTFS_CONSOLE_ENABLE}
    volumes:
      - ./data:/data
    labels:
      createdBy: "Apps"
    networks:
      - 1panel-network
networks:
  1panel-network:
    external: true
