services:
  homepage:
    container_name: ${CONTAINER_NAME}
    image: ghcr.io/gethomepage/homepage:v0.10.9
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:3000"
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIME_ZONE}
    labels:  
      createdBy: "Apps"
networks:  
  1panel-network:  
    external: true