<?xml version="1.0"?>
<ServerConfiguration>
    <EnableDebugLevelLogging>false</EnableDebugLevelLogging>
    <EnableAutoUpdate>true</EnableAutoUpdate>
    <LogFileRetentionDays>3</LogFileRetentionDays>
    <RunAtStartup>true</RunAtStartup>
    <IsStartupWizardCompleted>false</IsStartupWizardCompleted>
    <EnableUPnP>true</EnableUPnP>
    <PublicPort>{PANEL_APP_PORT_HTTP}</PublicPort>
    <PublicHttpsPort>{PANEL_APP_PORT_HTTPS}</PublicHttpsPort>
    <HttpServerPortNumber>{PANEL_APP_PORT_HTTP}</HttpServerPortNumber>
    <HttpsPortNumber>{PANEL_APP_PORT_HTTPS}</HttpsPortNumber>
    <EnableHttps>false</EnableHttps>
    <IsPortAuthorized>true</IsPortAuthorized>
    <AutoRunWebApp>true</AutoRunWebApp>
    <EnableRemoteAccess>true</EnableRemoteAccess>
    <LogAllQueryTimes>false</LogAllQueryTimes>
    <EnableCaseSensitiveItemIds>true</EnableCaseSensitiveItemIds>
    <PreferredMetadataLanguage>en</PreferredMetadataLanguage>
    <MetadataCountryCode>US</MetadataCountryCode>
    <SortRemoveWords>
        <string>the</string>
        <string>a</string>
        <string>an</string>
        <string>das</string>
        <string>der</string>
        <string>el</string>
        <string>la</string>
    </SortRemoveWords>
    <LibraryMonitorDelay>60</LibraryMonitorDelay>
    <EnableDashboardResponseCaching>true</EnableDashboardResponseCaching>
    <ImageSavingConvention>Compatible</ImageSavingConvention>
    <EnableAutomaticRestart>true</EnableAutomaticRestart>
    <PreferredDetectedRemoteAddressFamily>InterNetwork</PreferredDetectedRemoteAddressFamily>
    <UICulture>en-us</UICulture>
    <RemoteClientBitrateLimit>0</RemoteClientBitrateLimit>
    <LocalNetworkSubnets/>
    <LocalNetworkAddresses/>
    <EnableExternalContentInSuggestions>true</EnableExternalContentInSuggestions>
    <RequireHttps>false</RequireHttps>
    <IsBehindProxy>false</IsBehindProxy>
    <RemoteIPFilter/>
    <IsRemoteIPFilterBlacklist>false</IsRemoteIPFilterBlacklist>
    <ImageExtractionTimeoutMs>0</ImageExtractionTimeoutMs>
    <PathSubstitutions/>
    <UninstalledPlugins/>
    <CollapseVideoFolders>false</CollapseVideoFolders>
    <EnableOriginalTrackTitles>false</EnableOriginalTrackTitles>
    <VacuumDatabaseOnStartup>false</VacuumDatabaseOnStartup>
    <SimultaneousStreamLimit>0</SimultaneousStreamLimit>
    <DatabaseCacheSizeMB>128</DatabaseCacheSizeMB>
    <EnableSqLiteMmio>false</EnableSqLiteMmio>
    <PlaylistsUpgradedToM3U>true</PlaylistsUpgradedToM3U>
    <ImageExtractorUpgraded1>false</ImageExtractorUpgraded1>
    <EnablePeopleLetterSubFolders>false</EnablePeopleLetterSubFolders>
    <OptimizeDatabaseOnShutdown>true</OptimizeDatabaseOnShutdown>
    <DatabaseAnalysisLimit>400</DatabaseAnalysisLimit>
    <DisableAsyncIO>false</DisableAsyncIO>
    <MigratedToUserItemShares6>false</MigratedToUserItemShares6>
    <MigratedLibraryOptionsToDb>false</MigratedLibraryOptionsToDb>
    <AllowLegacyLocalNetworkPassword>true</AllowLegacyLocalNetworkPassword>
    <EnableSavedMetadataForPeople>false</EnableSavedMetadataForPeople>
    <TvChannelsRefreshed>false</TvChannelsRefreshed>
    <ProxyHeaderMode>RemoteAddressesOnly</ProxyHeaderMode>
</ServerConfiguration>
