services:
  sing-box:
    image: ghcr.io/zephyruso/zashboard:v2.4.1
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:80"
    labels:
      createdBy: "Apps"
networks:
  1panel-network:
    external: true