version: '3'
services:
  kubepi:
    image: kubeoperator/kubepi-server:v1.6.4
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:80
    volumes:
      - ./data:/var/lib/kubepi
    privileged: true
    labels:
      createdBy: "Apps"
networks:
  1panel-network:
    external: true