version: '3'
services:
  redis:
    image: redis:6.0.16
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:6379
    command: redis-server  /etc/redis/redis.conf --save 20 1 --loglevel warning --requirepass ${PANEL_DB_ROOT_PASSWORD}
    volumes:
      - ./data:/data
      - ./conf/redis.conf:/etc/redis/redis.conf
      - ./logs:/logs
    labels:
      createdBy: "Apps"

networks:
  1panel-network:
    external: true