# from https://github.com/louislam/uptime-kuma/blob/master/docker/docker-compose.yml
version: '3'
services:
  uptime-kuma:
    image: louislam/uptime-kuma:1.23.12
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    volumes:
      - ./data:/app/data
    ports:
      - ${PANEL_APP_PORT_HTTP}:3001
    labels:
      createdBy: "Apps"
networks:
  1panel-network:
    external: true