services:
  moltbot-cli:
    container_name: ${CONTAINER_NAME}
    image: 1panel/moltbot:2026.1.25
    networks:
      - 1panel-network
    environment:
      HOME: /home/node
      TERM: xterm-256color
      BROWSER: echo
    volumes:
      - ./data/conf:/home/node/.moltbot
      - ./data/workspace:/home/node/clawd
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["node", "dist/index.js"]
networks:
  1panel-network:
    external: true
