services:
  uuwaf:
    image: uusec/nanqiang:v6.3.0
    ulimits:
      nproc: 65535
      nofile:
        soft: 102400
        hard: 102400
    container_name:  ${CONTAINER_NAME}
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP1}:80
      - ${PANEL_APP_PORT_HTTPS2}:443
      - ${PANEL_APP_PORT_HTTPS}:4443
    volumes:
      - wafshared:/uuwaf
    command: ["/run.sh"]
    environment:
      - TZ=Asia/Shanghai
      - UUWAF_MYSQL_PASSWORD=Safe3.WAF
    links:
      - wafdb
    depends_on:
      - wafdb
  wafdb:
    image: percona:8
    container_name:  ${CONTAINER_NAME}-db
    networks:
      - 1panel-network
    volumes:
      - wafshared:/docker-entrypoint-initdb.d
      - wafdata:/var/lib/mysql
    environment:
      - TZ=Asia/Shanghai
      - INIT_ROCKSDB
      - MYSQL_ROOT_PASSWORD=Safe3.WAF
volumes:
  wafshared:
  wafdata:
networks:
  1panel-network:
    external: true