version: '3'
services:
  emqx:
    image: emqx/emqx:5.6.0
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    user: '0'
    ports:
      - ${PANEL_APP_PORT_HTTP}:18083
      - ${EMQX_PORT_1883}:1883
      - ${EMQX_PORT_8083}:8083
      - ${EMQX_PORT_8084}:8084
      - ${EMQX_PORT_8883}:8883
    volumes:
      - ./data:/opt/emqx/data
      - ./log:/opt/emqx/log
    labels:
      createdBy: "Apps"
networks:
  1panel-network:
    external: true